force-app/main/default/flows/Create_Household_Account_for_Guest_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Does_Contact_Have_an_Account</name>
        <label>Does Contact Have an Account?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Household_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Not Exists</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_Contact_to_Existing_Account</targetReference>
            </connector>
            <label>Use Existing Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FullNameApi</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastName}&amp;&apos;Household&apos;</expression>
    </formulas>
    <interviewLabel>Auto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Household Account for Guest Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Household_Account</name>
        <label>Create Household Account</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Contact_with_Household_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Account_Creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account_Currency__c</field>
            <value>
                <elementReference>$Record.Contact_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Available_Currency__c</field>
            <value>
                <elementReference>$Record.Contact_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FullNameApi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Email_Id__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012gL00000090VWQAY</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Error_Account_Creation</name>
        <label>Log Error - Account Creation</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Error_Occurred_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Error_Message__c</field>
            <value>
                <stringValue>An error occurred while creating a household account: {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>Guest Contact Auto-Link Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Flow_Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Error_Account_Lookup</name>
        <label>Log Error - Account Lookup</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Error_Occurred_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Error_Message__c</field>
            <value>
                <stringValue>An error occurred while looking up an account: {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>Guest Contact Auto-Link Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Flow_Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Account</name>
        <label>Find Existing Account</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Have_an_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_Account_Lookup</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Link_Contact_to_Existing_Account</name>
        <label>Link Contact to Existing Account</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Find_Existing_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_with_Household_Account</name>
        <label>Update Contact with Household Account</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Household_Account</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Existing_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012gL00000098HhQAI</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
